<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.w15104.dataengine.study.mapper.ProductMapper">

    <resultMap id="baseResultMap" type="com.w15104.dataengine.study.entity.Product" autoMapping="true">
    </resultMap>

    <sql id="baseColumns">
        id,pname,price,num,type,createDate
    </sql>

    <update id="saveOrUpdate" parameterType="com.w15104.dataengine.study.entity.Product" keyColumn="id"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO product(<include refid="baseColumns"/>)
        VALUES (#{id},#{pname},#{price},#{num},#{type},now())
        ON DUPLICATE KEY UPDATE
        pname=#{pname},price=#{price},num=#{num},type=#{type}
    </update>

    <delete id="deleteById" >
        DELETE FROM product WHERE id=#{id}
    </delete>

    <select id="getById" resultMap="baseResultMap">
        SELECT <include refid="baseColumns"/> FROM product WHERE id=#{id}
    </select>

    <select id="getAll" resultMap="baseResultMap">
        SELECT <include refid="baseColumns"/> FROM product
    </select>

    <select id="updateByID" parameterType="com.w15104.dataengine.study.entity.Product">
        UPDATE product SET pname=#{pname}, price=#{price}, num=#{num}, type=#{type} WHERE id = #{id};
    </select>

</mapper>